@font-face {
  font-family: 'Anton';
  src:  url('./Anton-Regular.woff') format('woff');
}

.hello {
    color: rgb(56, 54, 54);
    font-family: 'Anton';
    font-size: 40px;
    background: url('./icon.svg');
  }